body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    background-color: dimgray;
}

.header > .nav-logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header > .nav-logo-container > .logo{
    color: lightskyblue;
    font-weight: 800;
}

.header > .nav-logo-container > .nav > ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.header > .nav-logo-container > .nav > ul > li > a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.header > .front-page-content{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.header > .front-page-content > .left-content{
    max-width: 500px;
}

.header > .front-page-content > .left-content > h2{
    font-size: 30px;
    color: white;
}

.header > .front-page-content > .left-content > p{
    font-size: 19px;
    color: antiquewhite;
}

.header > .front-page-content > .left-content > button{
    max-height: 40px;
    border: 1px solid white;
    border-radius: 9px;
    padding: 10px;
    font-size: 15px;
    background-color: azure;
    cursor: pointer;
    filter: drop-shadow(0 0 0.25em black);
}

.header > .front-page-content > .right-content > img{
    max-width: 500px;
    filter: drop-shadow(0 0 0.25em black);
    opacity: 80%;
}