body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    background-color: darkslategray;
}

.header > .nav-logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header > .nav-logo-container > .logo{
    color: white;
    font-weight: 800;
}

.header > .nav-logo-container > .nav > ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.header > .nav-logo-container > .nav > ul > li > a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.header > .front-page-content > .left-content > img{
    max-width: 500px;
}